card{
    width: 90%;
    margin-top: 80px;
    margin-left: 130px;
   }

h1{
    text-align: left;
    font-weight: 800;
    margin-top: 10px;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 40px;

}
.gif{
    width: 50px;
    float: left;
    margin-left: -100px;
}
.img{
    width: 30px;
}
.card-body{
    width: 90%;
    margin-left: 100px;
}
button{
    float: right;
    margin-right: 80px;
}