 @import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
.body{
   font-family:'Hind', sans-serif;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave{
    width: 50px;
    float: left;
}
#image{
    width: 100px;
}
.grid{
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 550px 400px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
.left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end: 2 ;
}