h1{
    text-align: left;
    font-weight: 800;
    margin-top: 10px;
    font-size: 50px;
}
.gif{
    width: 50px;
    float: left;
}
.img{
    width: 30px;
}
a{
    color: black;
    font-size: 20px;
}

.card{
    width: 90%;
    margin-top: 100px;
    margin-left: 130px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif1{
    width: 50px;
    float: left;
    margin-top: -50px;
}
.reporte{
    float: right;
    margin-right: 80px;
}
.listado {
    text-align: left;
    font-weight: 800;
    margin-top: -50px;
}
.conteiner{
    margin: 20px;
}

.li{
    float: right;
    margin-right: 80px;
}
.btn-ligth{
    background: black;
    color: white;
    border: none;
}
.btn-success    {
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    border: none;
}