{% extends "Base.html" %}
{% load static %}
{% block title %}
{{ page_title }}
{% endblock title %}

{% block Css %}
  <link rel="stylesheet" href="{% static 'Css/Proyeccion/añadirDocente.css' %}">
{% endblock Css %}

{% block body %}
<div style="margin-left: 20px;" class="titulo">
    <h1>lista Docentes</h1>
</div>
    <div class="conteiner">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                {% for  Tipodocumento in object_list  %}
                <tr>
                    <td>{{ Tipodocumento.tdoc_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock body %}