{% load static%}
<style>
    .grupo {
        padding: 20px;
    }

    input {
        border: none;
        border-bottom: solid 1px #334756;
    }
</style>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                {{ page_title }} | {{ object }}
            </h2>
        </div>
        <form action="{% url 'editarConvenio' object.codigo %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="grupo">
                    {{ form.documento.label }}
                    {{form.documento}}
                </div>
                <div class="grupo">
                    {{ form.convenio.label }}
                    {{form.convenio}}
                </div>
                <div class="grupo">
                    {{ form.nombre.label }}
                    {{form.nombre}}
                </div>
                <div class="grupo">
                    {{ form.telefono.label }}
                    {{form.telefono}}
                </div>
                <div class="grupo">
                    {{ form.municipio.label }}
                    {{form.municipio}}
                </div>
                <div class="grupo">
                    {{ form.programa.label }}
                    {{form.programa}}
                </div>
                <div class="grupo">
                    {{ form.facultad.label }}
                    {{form.facultad}}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'inicioConvenio' %}" class="btn btn-danger" role="button"
                    data-dismiss="modal">Cancelar</a>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>